venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
.DS_Store

# Uncomment if audio/video files get large and you'd rather not version them directly
# *.wav
# *.mp4
